.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .hide {
    display: none;
  }
  
  .top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
  }
  
  .top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
  }
  
  .success {
    background-color: green;
    color: white;
  }
  
  .info {
    background-color: lightblue;
    color: white;
  }
  .warning {
    background-color: yellow;
    color: white;
  }